@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 11% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 11% 91%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 11% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220 13% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 13% 20%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 180 100% 25.1%;
    --accent-foreground: 180 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 220 13% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 220 13% 70%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 15.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14.3% 15.9%;
    --muted-foreground: 220 8.9% 56.1%;
    --accent: 180 80% 45%;
    --accent-foreground: 180 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 220 13% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
